/* Logo */
/* Adapted from Zachary Blackwood */
[data-testid="stSidebar"] {
    background-image: url(https://i.postimg.cc/0QF4cyGb/logo-2.png);
    background-size: 210px;
    background-repeat:no-repeat;
    background-position: top 23px right 65px;
    
}